@media screen and (max-width:1400px) {
    .container {
        max-width: calc(100% - 180px) !important;
    }
}

@media screen and (max-width: 1200px) {
    body .grid {
        gap: 20px;
    }

    body .home__data {
        padding-right: 40px;
    }

    body .home__title {
        font-size: var(--big-font-size);
    }

    body .home__description {
        font-size: var(--small-font-size);
    }

    body .stats__title {
        padding-left: 35px;
    }

    body .stats__title::before {
        width: 22px;
    }

    body .skills__container {
        row-gap: 32px;
    }

    body .progress__circle {
        width: 100px;
        height: 100px;
    }

    body .skills__title {
        margin-top: 20px;
    }

    body .resume__icon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    body .resume__item {
        padding-left: 55px;
    }

    body .portfolio__model-content {
        max-width: 600px;
    }

    body .model__close {
        width: 40px;
        height: 40px;
    }

    body .form__input-group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    body .form__input-group .form__input-div:last-child {
        grid-column: 1/-1;
    }

    body .form__input-div {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1024px) {
    body .container {
        max-width: 720px;
    }

    body .home {
        padding: 20px;
        grid-template-columns: 5fr 7fr;
    }

    body .home__data {
        padding-right: 0;
    }

    body .section {
        padding-block: 50px;
    }

    body .section__title {
        margin-bottom: 40px;
    }

    body .about__container,
    .resume__container,
    .contact__container {
        grid-template-columns: 1fr !important;
    }

    body .about__container {
        row-gap: 40px;
    }

    body .subtitle__center {
        margin-bottom: 45px;
    }

    body .skills__container {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    body .resume__container {
        row-gap: 45px;
    }

    body .resume__item:not(:last-child) {
        margin-bottom: 45px;
    }

    body .separator {
        margin: 65px auto 50px;
    }

    body .portfolio__container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    body .contact__container {
        row-gap: 48px;
    }
}

@media screen and (max-width: 768px) {
    body .home {
        grid-template-columns: 1fr !important;
        justify-items: center;
        row-gap: 10px;
    }

    body .color__block {
        display: none;
    }

    body .home__img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        margin-top: auto;
    }

    body .home__content {
        max-width: 500px;
        text-align: center;
        margin-bottom: auto;
    }

    body .home__title {
        padding-left: 0;
    }

    body .home__title::before {
        all: unset;
    }

    body .home__title span {
        display: block;
    }

    body .container {
        max-width: 540px;
    }

    body .portfolio__model-content {
        padding: 25px 20px;
    }
    body .model_close{
        top: -9%;
        right: 0;
    }
}